menu "UDP Server Configuration"
    
    config USE_IPV4_STACK
        bool "IPV4"
        default y
        help 
            Should IPv4 be used for the UDP server?

    config USE_IPV6_STACK
        bool "IPV6"
        default n
        help 
            Should IPv6 be used for the UDP server?
        
    config PORT
        int "Port"
        range 0 65535
        default 3333
        help
            Port of the UDP server.

    config MAX_CLIENTS
        int "Maximum amount of clients"
        range 0 16
        default 6
        help
            Maximum amount of clients that are served.
            
endmenu