menu "WiFi Connection Settings"
    
    choice WIFI_SETTINGS

        bool "Choose from predefined profiles"
        default USE_HOME_WIFI_SETTINGS
        
        config USE_HOME_WIFI_SETTINGS
            bool "Use WiFi settings from home"
        config USE_INSTITUTE_WIFI_SETTINGS
            bool "Use WiFi settings from TUM institute"

    endchoice

    config WIFI_MAX_RECONNECTS
        int "Maximum amount of WiFi Reconnection attempts"
        default 5
        help
            How many WiFi Reconnect attempts should be executed if the initial connection to the WiFi AP does not succeed at the first attempt or the existing connection gets closed all of a sudden?

    config WIFI_RECONNECT_WAIT_INTERVAL_SECONDS
        int "WiFi Reconnect attempt timeout in s (seconds)"
        default 3
        help
            How many seconds to wait after each failed WiFi Reconnect attempt?
endmenu