menu "WiFi Connection Settings"
    
    choice WIFI_SETTINGS

        bool "Choose from predefined profiles"
        default USE_HOME_WIFI_SETTINGS
        
        config USE_HOME_WIFI_SETTINGS
            bool "Use WiFi settings from home"
        config USE_INSTITUTE_WIFI_SETTINGS
            bool "Use WiFi settings from TUM institute"

    endchoice

    config WIFI_MAX_RETRIES
        int "Maximum amount of connection retries"
        range 0 10
        default 3
        help
            How many connection retries should be executed?
endmenu